<ng-container *ngIf="routeData$ | async as routeData">
<div class="infos">
    <mat-expansion-panel class="panel" expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Informationen über das Programm
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="infoText">
            Hallo und herzlich Willkommen in der digitalen Kleiderverwaltung! <br>
            Dieses Programm wurde im Rahmen eines Sofwtareprojekts an der Hochschule Fulda von Achim Rose und Tim Wieder geschrieben.
            Informationen dazu, sowie die Dokumentation des Quellcodes und der Schnittstellen können einfach<br>
            <a href="https://github.com/argh87/de.hs-fulda.et.it.project/wiki">hier</a>
            <br>
            eingesehen werden
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="panel">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Letzte Buchungen
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngFor="let buchung of _buchungen">
            <span>{{buchung.benutzer}} hat am {{buchung.date | date}} {{buchung.anzahl}} Kleidungsstücke von {{buchung.von}} nach {{buchung.nach}} gebucht!</span>
        </div>

        <div *ngIf="!_buchungen">
            Es sind noch keine Buchungen im System getätigt worden!
        </div>
    </mat-expansion-panel>

</div>
</ng-container>