<ng-container *ngIf="routeData$ | async as routeData">
<div class="infos">
    <terra-portlet [inputIsCollapsable]="true"
                   [inputCollapsed]="false"
                   [inputPortletHeader]="'Informationen über das Programm'">
        <div class="infoText">
            Hallo und herzlich Willkommen in der digitalen Kleiderverwaltung! <br>
            Dieses Programm wurde im Rahmen eines Sofwtareprojekts an der Hochschule Fulda von Achim Rose und Tim Wieder geschrieben.
            Informationen dazu, sowie die Dokumentation des Quellcodes und der Schnittstellen können einfach<br>
            <a href="https://github.com/argh87/de.hs-fulda.et.it.project/wiki">hier</a>
            <br>
            eingesehen werden
        </div>
    
    </terra-portlet>
    
    <terra-portlet [inputIsCollapsable]="true"
                   [inputCollapsed]="false"
                   [inputPortletHeader]="'Letzte Buchungen'">
        <div *ngFor="let buchung of _buchungen">
            <span></span>
        </div>
    </terra-portlet>
</div>

<div class="bottom-line">
    <terra-button [inputCaption]="'Logout'"
                  (outputClicked)="logout()">
    </terra-button>
</div>
</ng-container>