<ng-container *ngIf="routeData$ | async as routeData">
    <terra-base-toolbar>
        <terra-button [inputIcon]="'icon-save'"
                      [inputCaption]="'Speichern'"
                      (outputClicked)="save(routeData.targetPlace)"
                      [inputIsDisabled]="routeData.targetPlace.erfasst">
        </terra-button>
        <terra-button [inputIcon]="'icon-delete'"
                      [inputCaption]="'Inaktiv setzen'"
                      (outputClicked)="delete(routeData.targetPlace)"
                      [inputIsDisabled]="routeData.targetPlace.erfasst">
        </terra-button>
        <terra-button [inputIcon]="'icon-visibility_private'"
                      [inputCaption]="'Für Erfassung sperren'"
                      (outputClicked)="lock(routeData.targetPlace)"
                      [inputIsDisabled]="routeData.targetPlace.erfasst">
        </terra-button>
    </terra-base-toolbar>
    
    <terra-portlet [inputPortletHeader]="'Zielort bearbeiten'">
        <p *ngIf="routeData.targetPlace.erfasst">
            Dieser Zielort wurde für die Erfassung gesperrt und kann daher nicht mehr bearbeitet werden
        </p>
        <terra-text-input [inputName]="'Name'"
                          [(ngModel)]="routeData.targetPlace.name"
                          [inputIsDisabled]="routeData.targetPlace.erfasst">
        </terra-text-input>
    </terra-portlet>
    
    <terra-portlet [inputPortletHeader]="'Bestände'">
                <system-bestaende [zielortId]="routeData.targetPlace.id"></system-bestaende>
    </terra-portlet>
</ng-container>