<ng-container *ngIf="routeData$ | async as routeData">
<terra-base-toolbar>
    <terra-button [inputIcon]="'icon-save'"
                  [inputCaption]="'Speichern'"
                  (outputClicked)="save(routeData.targetPlace)">
    </terra-button>
    <terra-button [inputIcon]="'icon-delete'"
                  [inputCaption]="'Inaktiv setzen'"
                  (outputClicked)="delete()">
    </terra-button>
</terra-base-toolbar>

<terra-portlet [inputPortletHeader]="'Zielort bearbeiten'">
    <terra-text-input [inputName]="'Name'"
                      [(ngModel)]="routeData.targetPlace.name">
    </terra-text-input>
</terra-portlet>
</ng-container>