.login-portlet
{
  position: absolute;
  left: 35%;
  top: 10%;
}

.view
{
  background-image: url(/assets/images/background-blue-blur-583715.jpg) no-repeat center center fixed;
  width: 100%;
  height: 100%;
}