<div class="view">
    <form>
        <terra-portlet class="login-portlet">
            <h2>Kleiderkammer-Login</h2>
            <terra-text-input name="first"
                              [inputName]="'Benutzername'"
                              [(ngModel)]="user.name">
            </terra-text-input>
            <terra-text-input name="second"
                              [inputName]="'Passwort'"
                              [(ngModel)]="user.password"
                              [inputIsPassword]="true">
            </terra-text-input>
            <terra-button name="third"
                          [inputType]="submit"
                          [inputCaption]="'Anmelden'"
                          (outputClicked)="login()">
            </terra-button>
        </terra-portlet>
    </form>
</div>
