<terra-portlet class="login-portlet">
    <h2>Willkommen in der WBS Kleiderkammer</h2>
    <terra-text-input [inputName]="'Benutzername'"
                      [(ngModel)]="user.name">
    </terra-text-input>
    <terra-text-input [inputName]="'Passwort'"
                      [(ngModel)]="user.password"
                      [inputIsPassword]="true">
    </terra-text-input>
    <!--<terra-select-box-->
    <!--[inputName]="'Sprache'"-->
    <!--[inputListBoxValues]="languages"-->
    <!--[(ngModel)]="user.language">-->
    <!--</terra-select-box>-->
    
    <terra-button [inputType]="submit"
                  [inputCaption]="'Anmelden'"
                  (outputClicked)="login()">
    </terra-button>
</terra-portlet>
