<div class="view">
    
    <terra-base-toolbar>
        <terra-button inputIcon='icon-save'
                      [inputCaption]="'Speichern'"
                      (outputClicked)="saveCarrier()">
        </terra-button>
    </terra-base-toolbar>
    
    <div class="system-view-container">
        <terra-portlet
            [inputPortletHeader]="'Neuen Träger anlegen'">
            <terra-text-input [inputName]="'Name'"
                              [(ngModel)]="newCarrierName">
            </terra-text-input>
        </terra-portlet>
    </div>

</div>
