<div class="view">
    <div class="btn-toolbar" role="toolbar">
        <terra-button inputIcon='icon-save'
                      [inputCaption]="'Speichern'"
                      (outputClicked)="saveCarrier()">
        </terra-button>
    </div>
    <div class="system-view-container">
        <terra-portlet
                [inputPortletHeader]="'Neuen Träger anlegen'">
            <terra-text-input [inputName]="'Name'"
                              [(ngModel)]="newCarrierName">
            </terra-text-input>
        </terra-portlet>
    </div>
</div>