

<div class="new-password">
    <h1>WBS-Kleiderkammer Passwort zurücksetzen</h1>

    <mat-form-field class="w-100">
        <mat-label>Neues Passwort</mat-label>
        <input matInput type="password" placeholder="passwort" [(ngModel)]="password" value="">
        <mat-label>Passwort wiederholen</mat-label>
        <input matInput type="password" placeholder="passwort" [(ngModel)]="repeatPassword" value="">
    </mat-form-field>
    <button mat-raised-button class="mt-2" color="primary" (click)="newPassword()">Abschicken</button>
</div>