<terra-base-toolbar>
    <terra-button [inputIcon]="'icon-save'"
                  [inputCaption]="'Speichern'"
                  (outputClicked)="save()">
    </terra-button>
</terra-base-toolbar>

<terra-portlet [inputPortletHeader]="'Neuen Benutzer anlegen'">
    <terra-text-input [inputName]="'Name'"
                      [(ngModel)]="newUser.username">
    </terra-text-input>
    <terra-text-input [inputName]="'Passwort'"
                      [(ngModel)]="newUser.password"
                      [inputIsPassword]="true">
    </terra-text-input>
</terra-portlet>