<ng-container *ngIf="routeData$ | async as routeData">
    <terra-base-toolbar>
        <terra-button [inputIcon]="'icon-save'"
                      [inputCaption]="'Speichern'"
                      (outputClicked)="save(routeData.category)">
        </terra-button>
        <terra-button [inputIcon]="'icon-delete'"
                      [inputCaption]="'Löschen'"
                      (outputClicked)="delete(routeData.category)">
        </terra-button>
    </terra-base-toolbar>
    
    <terra-portlet [inputPortletHeader]="'Kategorie bearbeiten'">
        <terra-text-input [inputName]="'Name'"
                          [(ngModel)]="routeData.category.name">
        </terra-text-input>
    </terra-portlet>
    
    <terra-portlet [inputPortletHeader]="'Größen'">
        <system-groessen [categoryId]="routeData.category.id"></system-groessen>
    </terra-portlet>
</ng-container>
