<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs"/>

    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/wbs-alarm.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOGS}/archived/wbs-alarm-backup.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>

    </appender>

    <!-- LOG everything at INFO level -->
    <root level="warn">
        <appender-ref ref="RollingFile"/>
    </root>

    <!-- LOG "com.baeldung*" at TRACE level -->
    <logger name="de.hsfulda.et.wbs" level="info" additivity="false">
        <appender-ref ref="RollingFile"/>
    </logger>

</configuration>
