<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
<!--    <mat-toolbar color="primary" class="example-toolbar">-->
<!--        <button mat-button (click)="snav.toggle()">Menü anzeigen</button>-->
<!--    </mat-toolbar>-->

    <div [ngClass]="snav.opened ? 'stick-to-nav' : ''" class="toggle-container">
        <span [ngClass]="snav.opened ? 'icon-collapse_left' : 'icon-collapse_rightpng'" class="toggle-icon" (click)="snav.toggle()"></span>
    </div>
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                     [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="more-width">
            <mat-nav-list class="p-0">
                <div class="tree-container">
                    <terra-node-tree [inputConfig]="nodeTreeConfig">
                    </terra-node-tree>
                </div>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
                <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>