nav {
    width: 100%;
}

.nav-item .nav-link {
    cursor: pointer;
}

.user-icon {
    background-color: white;
    border-radius: 50%;
    height: 100%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}


.right {
    height: 3rem;
    
    &:hover {
    }
}

.logout {
    color: white;
    margin-right: 15px;
    cursor: pointer;
    font-size: 34px;
}


