body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    //background: #60a3bc;
    background: var(--color-structure-3);
    
    .isLoggedIn {
        background: var(--color-structure-3);
    }
}
