@import "~bootstrap/scss/bootstrap";
@import "~@plentymarkets/terra-components/styles/styles";
@import "~@plentymarkets/terra-components/styles/icons";
@import "~@plentymarkets/terra-components/styles/themes/theme-loader";

//.placer
//{
//  top: 6%;
//  position: absolute;
//  width: 100%;
//  height: 94%;
//}

body,
html
{
    margin: 0;
    padding: 0;
    height: 100%;
    background: #60a3bc;
    
    .isLoggedIn
    {
        background: white;
    }
}