<mat-expansion-panel [hideToggle]="true" expanded="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Buchungsart auswählen
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="mode-chooser">
        <mat-radio-group [(ngModel)]="_modus" (ngModelChange)="leereTabelleUndAendereZielorte()">
            <mat-radio-button class="mode" [value]="'buchen'">
                Buchen
            </mat-radio-button>
            <mat-radio-button class="mode" [value]="'einkauf'">
                Einkauf
            </mat-radio-button>
            <mat-radio-button class="mode" [value]="'aussonderung'">
                Aussonderung
            </mat-radio-button>
        </mat-radio-group>
    </div>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        Buchungsziel wählen
    </mat-expansion-panel-header>
    <div class="headline">
        <terra-text-input class=element
                          [inputIsDisabled]="true"
                          [ngModel]="_traeger">
        </terra-text-input>

        <mat-form-field *ngIf="!(_modus==='einkauf')">
            <mat-label>von:</mat-label>
            <mat-select [(value)]="_von">
                <mat-option *ngFor="let zielort of _zielorte" [value]="zielort.value">{{zielort.caption}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="!(_modus==='aussonderung')">
            <mat-label>nach:</mat-label>
            <mat-select [(value)]="_nach">
                <mat-option *ngFor="let zielort of _zielorte" [value]="zielort.value">{{zielort.caption}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        Buchungsdetails einstellen
    </mat-expansion-panel-header>
    <div class="headline">
        <mat-form-field style="margin-right: 10px;">
            <mat-label>Kategorie</mat-label>
            <mat-select [(value)]="_kategorie" (selectionChange)="fuelleGroesse(_kategorie)">
                <mat-option *ngFor="let kategorie of _kategorien" [value]="kategorie.value">{{kategorie.caption}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field style="margin-right: 10px;">
            <mat-label>Größe</mat-label>
            <mat-select [(value)]="_goresse" [disabled]="_groessen.length === 0">
                <mat-option *ngFor="let groesse of _groessen" [value]="groesse.value">{{groesse.caption}}</mat-option>
            </mat-select>
        </mat-form-field>

<!--        <mat-form-field style="margin-right: 10px; display: flex">-->
<!--            <mat-label>-->
<!--                <input placeholder="Anzahl" matInput [value]="_anzahl">-->
<!--            </mat-label>-->
<!--        </mat-form-field>-->

        <terra-number-input class="element"
                            [inputName]="'Anzahl'"
                            [(ngModel)]="_anzahl">
        </terra-number-input>
    </div>
</mat-expansion-panel>

<div>
    <button class="mr-2" mat-raised-button (click)="addRow()">In die Liste</button>
    <button class="mr-2" mat-raised-button (click)="deleteRows()" color="warn">Auswahl löschen</button>
</div>

<div class="overview">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 warenkorb">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Von Column -->
        <ng-container matColumnDef="von">
            <th mat-header-cell *matHeaderCellDef> Von </th>
            <td mat-cell *matCellDef="let element"> {{element.von.name}} </td>
        </ng-container>

        <!-- Nach Column -->
        <ng-container matColumnDef="nach">
            <th mat-header-cell *matHeaderCellDef> Nach </th>
            <td mat-cell *matCellDef="let element"> {{element.nach.name}} </td>
        </ng-container>

        <!-- Kategorie Column -->
        <ng-container matColumnDef="kategorie">
            <th mat-header-cell *matHeaderCellDef> Kategorie </th>
            <td mat-cell *matCellDef="let element"> {{element.kategorie.name}} </td>
        </ng-container>

        <!-- Größe Column -->
        <ng-container matColumnDef="größe">
            <th mat-header-cell *matHeaderCellDef> Größe </th>
            <td mat-cell *matCellDef="let element"> {{element.groesse.name}} </td>
        </ng-container>

        <!-- Anzahl Column -->
        <ng-container matColumnDef="anzahl">
            <th mat-header-cell *matHeaderCellDef> Anzahl </th>
            <td mat-cell *matCellDef="let element"> {{element.anzahl}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
    </table>

    <div class="save-button">
        <terra-button inputCaption="Buchen"
                      (outputClicked)="_buchen()"
                      [inputIsDisabled]="buchungsliste.length === 0">
        </terra-button>
    </div>

</div>



