.headline {
    width: 100%;
    display: inline-flex;
}

.element {
    width: 15%;
    padding-right: 20px;
    float: left;
}

.mode-chooser {
    width: 100%;
    padding-bottom: 25px;
}

.overview {
    width: 100%;
    padding-top: 20px;
}

.action {
    margin-right: 10px;
}

mat-radio-button {
    margin-right: 10px;
}

mat-expansion-panel {
    margin-bottom: 10px;
}

mat-form-field {
    margin-right: 10px;
    
    input {
        font-size: 18px !important;
        margin: 0 !important;
        line-height: 2.6 !important;
    }
}

terra-number-input {
    padding-top: 3px;
}

.warenkorb {
    width: 100%;
}

.overview .save-button {
    margin-top: 15px;
}

