<mat-expansion-panel [hideToggle]="true" expanded="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Buchungsart auswählen
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="mode-chooser">
        <mat-radio-group [(ngModel)]="_modus" (ngModelChange)="leereTabelleUndAendereZielorte()">
            <mat-radio-button class="mode" [value]="'buchen'">
                Buchen
            </mat-radio-button>
            <mat-radio-button class="mode" [value]="'einkauf'">
                Einkauf
            </mat-radio-button>
            <mat-radio-button class="mode" [value]="'aussonderung'">
                Aussonderung
            </mat-radio-button>
        </mat-radio-group>
    </div>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        Buchungsziel wählen
    </mat-expansion-panel-header>
    <div class="headline">
        <terra-text-input class=element
                          [inputIsDisabled]="true"
                          [ngModel]="_traeger">
        </terra-text-input>

        <mat-form-field *ngIf="!(_modus==='einkauf')">
            <mat-label>von:</mat-label>
            <mat-select [(value)]="_von">
                <mat-option *ngFor="let zielort of _zielorte" [value]="zielort.value">{{zielort.caption}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="!(_modus==='aussonderung')">
            <mat-label>nach:</mat-label>
            <mat-select [(value)]="_nach">
                <mat-option *ngFor="let zielort of _zielorte" [value]="zielort.value">{{zielort.caption}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        Buchungsdetails einstellen
    </mat-expansion-panel-header>
    <div class="headline">
        <mat-form-field style="margin-right: 10px;">
            <mat-label>Kategorie</mat-label>
            <mat-select [(value)]="_kategorie" (selectionChange)="fuelleGroesse(_kategorie)">
                <mat-option *ngFor="let kategorie of _kategorien" [value]="kategorie.value">{{kategorie.caption}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field style="margin-right: 10px;">
            <mat-label>Größe</mat-label>
            <mat-select [(value)]="_goresse" [disabled]="_groessen.length === 1">
                <mat-option *ngFor="let groesse of _groessen" [value]="groesse.value">{{groesse.caption}}</mat-option>
            </mat-select>
        </mat-form-field>

<!--        <mat-form-field style="margin-right: 10px; display: flex">-->
<!--            <mat-label>-->
<!--                <input placeholder="Anzahl" matInput [value]="_anzahl">-->
<!--            </mat-label>-->
<!--        </mat-form-field>-->

        <terra-number-input class="element"
                            [inputName]="'Anzahl'"
                            [(ngModel)]="_anzahl">
        </terra-number-input>
    </div>
</mat-expansion-panel>

<!--<terra-portlet>-->
<!--    <div class="headline">-->
<!--        <terra-select-box class=element-->
<!--                          [inputName]="'Kategorie:'"-->
<!--                          [inputListBoxValues]="_kategorien"-->
<!--                          [(ngModel)]="_kategorie"-->
<!--                          (ngModelChange)="fuelleGroesse(_kategorie)">-->
<!--        </terra-select-box>-->
<!--        <terra-select-box class=element-->
<!--                          [inputName]="'Größe:'"-->
<!--                          [inputIsDisabled]="_groessen.length === 0"-->
<!--                          [inputListBoxValues]="_groessen"-->
<!--                          [(ngModel)]="_goresse">-->
<!--        </terra-select-box>-->
<!--        <terra-number-input class=element-->
<!--                            [inputName]="'Anzahl'"-->
<!--                            [(ngModel)]="_anzahl">-->
<!--        -->
<!--        </terra-number-input>-->
<!--    </div>-->
<!--</terra-portlet>-->

<div>
    <terra-button inputCaption="In die Liste"
                  (outputClicked)="addRow()">
    </terra-button>
    
    <terra-button inputCaption="Auswahl löschen"
                  [inputIcon]="'icon-delete'"
                  (outputClicked)="deleteRow()">
    </terra-button>
</div>

<div class="overview">
    <terra-simple-table #table
                        [inputIsStriped]="true"
                        [inputHasCheckboxes]="true"
                        [inputUseHighlighting]="true"
                        [inputHeaderList]="_headerList"
                        [inputRowList]="_rowList"
                        (outputHighlightedRowChange)="selectRow($event)">
    </terra-simple-table>
</div>

<div>
    <terra-button inputCaption="Buchen"
                  (outputClicked)="_buchen()"
                  [inputIsDisabled]="_rowList.length === 0">
    </terra-button>
</div>

