<ng-container *ngIf="routeData$ | async as routeData">
    <terra-base-toolbar>
        <terra-button [inputIcon]="'icon-save'"
                      [inputCaption]="'Speichern'"
                      (outputClicked)="save(routeData.user)">
        </terra-button>
    </terra-base-toolbar>
    
    <terra-portlet [inputPortletHeader]="'Benutzer bearbeiten'">
        <terra-text-input [inputName]="'Name'"
                          [(ngModel)]="routeData.user.username"
                          [inputIsDisabled]="true">
        </terra-text-input>
        
        <terra-text-input [inputName]="'E-Mail'"
                          [(ngModel)]="routeData.user.mail">
        </terra-text-input>
        
        <terra-checkbox [(ngModel)]="routeData.user.einkaeufer"
                        [inputCaption]="'Einkäufer'">
        </terra-checkbox>
        <terra-portlet [inputPortletHeader]="'Berechtigungen'">
            <system-authorities [userId]="routeData.user.id"></system-authorities>
        </terra-portlet>
    </terra-portlet>
</ng-container>